#f1{
	width:700px;
	text-align: left;
	padding: 20px;
	font-weight: bolder;
	border-radius: 20px;
	background-color: #d4d4d4;
	
}
#f2{
	width:700px;
	text-align: left;
	padding: 20px;
	font-weight: bolder;
	border-radius: 20px;
	background-color: #d4d4d4;
}
legend{
	font-size: 20px;
}
#f1 input[type="text"]{
	border-radius: 4px;
	height: 20px;
	position: absolute;
	left: 350px;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	width: 200px;
}
#f2 input[type="text"]{
	border-radius: 4px;
	height: 20px;
	position: absolute;
	left: 350px;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	width: 200px;
}
#f2 select{
	border-radius: 4px;
	height: 20px;
	position: absolute;
	left: 350px;
	width:150px;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	width: 200px;

}
#f2 input[type="submit"]{
	width: 150px;
	height: 30px;
	border-radius:8px;
	background-color: #04cde5;
	border-style: solid;
	border-color: black;
	border-width: 1px;
}
#f2 input[type="submit"]:hover{
	background-color:#0be5ff; 
	}
